<template name="components_topnav">
  <nav>
    <div class="container">
      <a href="#" data-activates="nav-mobile" class="button-collapse hide-on-large-only">
        <i class="material-icons">menu</i>
      </a>
      <div class="center">
        {{pageTitle}}
      </div>
    </div>
  </nav>
</template>

<template name="components_sidenav">
  <ul id="nav-mobile" class="side-nav fixed">
    <li>
      <div class="nav-logo">
        <img src="media/logo.svg">
      </div>
    </li>
    {{> components_sidenav_links}}
    <li>
      <div class="divider"></div>
    </li>
    {{> components_sidenav_linksAccount}}
  </ul>
</template>

<template name="components_sidenav_links">
  <li class="{{isActiveRoute 'welcome'}}">
    <a href="{{pathFor 'welcome'}}">Welcome</a>
  </li>
</template>

<template name="components_sidenav_linksAccount">
  {{#if currentUser}}
    <li class="{{isActiveRoute 'logout'}}">
      <a href="{{pathFor 'logout'}}">Log Out</a>
    </li>
    <li class="{{isActiveRoute 'account'}}">
      <a href="{{pathFor 'account'}}">Manage Account</a>
    </li>
  {{else}}
    <li class="{{isActiveRoute 'atSignIn'}}">
      <a href="{{pathFor 'atSignIn'}}">Sign In</a>
    </li>
    <li class="{{isActiveRoute 'atSignUp'}}">
      <a href="{{pathFor 'atSignUp'}}">Register</a>
    </li>
  {{/if}}
</template>
