<template name="components_topnav">
  <nav>
    <div class="container">
      <a href="#" data-activates="nav-mobile" class="button-collapse hide-on-large-only">
        <i class="material-icons">menu</i>
      </a>
      <div class="center">
        {{pageTitle}}
      </div>
    </div>
  </nav>
</template>

<template name="components_sidenav">
  <ul id="nav-mobile" class="side-nav fixed">
    <li>
      <div class="nav-logo">
        <img src="media/logo.svg">
      </div>
    </li>
    {{> components_sidenav_links}}
    <li>
      <div class="divider"></div>
    </li>
    {{> components_sidenav_linksAccount}}
  </ul>
</template>

<template name="components_sidenav_links">
  <li class="{{isActiveRoute 'welcome'}}">
    <a href="{{pathFor 'welcome'}}">{{titleFor 'welcome'}}</a>
  </li>
</template>

<template name="components_sidenav_linksAccount">
  {{#if currentUser}}
    <li class="{{isActiveRoute 'logOut'}}">
      <a href="{{pathFor 'logOut'}}">{{titleFor 'logOut'}}</a>
    </li>
  {{else}}
    <li class="{{isActiveRoute 'logIn'}}">
      <a href="{{pathFor 'logIn'}}">{{titleFor 'logIn'}}</a>
    </li>
    <li class="{{isActiveRoute 'register'}}">
      <a href="{{pathFor 'register'}}">{{titleFor 'register'}}</a>
    </li>
  {{/if}}
</template>
